{% extends "base.html" %}
{% block content %}
<div class="card w-96 bg-base-100 shadow-xl">
    <figure class="px-10 pt-10">
      <img src="{{product.image.url}}" alt="{{product.product_name}}" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">{{product.product_name}}</h2>
      <h2>Price : {{product.price}}</h2>
      <h2>Stock : {{product.stock}}</h2>
      <h2>Avaiable : {{product.is_available}}</h2>
      <p>{{product.description}}</p>
      <div class="card-actions">
        <button class="btn btn-primary"><a href="{% url 'add_cart' product.id %}">Add to Wishlist</a></button>
      </div>
    </div>
  </div>
  
{% endblock content %}
